---
layout: base.njk
templateEngineOverride: md, njk
---

<style>
  .logo {
      font-family: 'Averia Libre', sans-serif;
      white-space: nowrap;
  }

  .over-dots {
      position: absolute;
      transform: translate(0, -.12em);
  }

  .footer-img {
    margin: auto;
    border-radius: 5px;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  @media screen and (min-width: 601px) {
    .logo {
      font-size: 8vw;
    }

    .over-dots {
      font-size: 8.2vw;
      transform: translate(.15em, -.12em);
    }

    .footer-img {
      width: 35%;
    }
  }

  @media screen and (max-width: 600px) {
    .logo {
      font-size: 20vw;
    }

    .over-dots {
      font-size: 20.2vw;
      transform: translate(.15em, -.12em);
    }

    .footer-img {
      width: 80%;
    }
  }

  .over-dots::before {
    content: ":";
  }

  .tdbc-hero {
    padding-top: 5vh;
    padding-bottom: 0vh;
  }

  #quickstart + ol li:first-child,
  #quickstart + ol li:first-child p {
    font-size: 1.5rem;
  }

  .stamp {
    display: inline-block;
    color: red;
    font-weight: 600;
    font-size: 0.8rem;
    border: 2px solid red;
    border-radius: 5px;
    line-height: 1.1;
    padding: 0 1px;
    transform: rotateZ(-20deg);
  }

  .note {
    position: relative;
    bottom: 2px;
    display: inline-block;
    margin-bottom: 2px;
    color: green;
    font-weight: 600;
    font-size: 0.8rem;
    border: 2px solid green;
    border-radius: 6px 10px 10px 6px;
    line-height: 1.1;
    padding: 0 2px;
  }
</style>
<header class="tdbc-hero">
  <div class="tdbc-container" style="max-width: unset;">
    <h1 class="tdbc-ink--primary tdbc-mb-none logo"><span class="over-dots"></span>{{ meta.siteName }}</h1>
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--gray tdbc-mt-md tdbc-mx-auto">
      {{ meta.siteDescription.split("-")[1] }}
    </h2>
  </div>
</header>
<main class="tdbc-container">
  {% if collections.pages.length > 0 %}
  <div class="tdbc-section tdbc-mb-lg">
    <ul class="tdbc-column-container">
      {%- for page in collections.pages | reverse -%}
      <li class="tdbc-card">
        <div class="tdbc-card__content">
          <a href="{{ page.url }}" class="tdbc-card__title">{{ page.data.title }}</a>
          <p>{{ page.data.description }}</p>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </div>
  {% endif %}




<br><br>
<b>Funding:</b>
<div class="footer-images">
    <img src="/img/TANGO.png" alt="TANGO">

<img src="/img/eu.png" alt="Funded by the European Union" class="footer-img">
</div>

</main>
